h4{
    margin-block-end: 0%;
    margin-block-start: 10px;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    width: auto;
  }

  input{
    width: 70px;
  }

  th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

mat-form-field-wrapper{
  padding-left: 2%;
}

mat-label.ng-star-inserted{
  font-size: 120%;
}