<app-content [sidenav]="true" [sidenav-items]=sidenavItems [error]="error">
	<div *ngIf="patient && patient.first_name!='Demo' && patient.last_name!='Paziente' " >
		<form #addcellsForm="ngForm">
			<h1>Add slides of {{ patient.first_name }} {{ patient.last_name }}</h1>
			<div *ngIf="!submitted">
				<label>Select a set of slide </label>
				<input #file [(ngModel)]="fileModel" type="file" id="addcell" name="addcell" accept="image/*"
	            multiple="true" required="true" (change)="onChange(file.files)"/>
				<br>
	      		<li *ngFor="let file of filesList">{{ file.name }} {{ file.size }} byte</li>
	    	</div>
			<div *ngIf="submitted">
					<h2>Dear user,</h2>
					<p>Consider that this system is very complex from the computational point of view and is 
						currently installed on a free server, so it may appear a little slow. We cannot do 
						more for this preliminary experimentation. For 50 fields it normally takes <b>6-8 minutes</b></p>
					<h3>Thanks for understanding</h3>
			</div>
			<div>
				<button *ngIf="!submitted" mat-raised-button (click)="submitCells()" [disabled]="addcellsForm.invalid" color="primary">Send</button>
			</div>
			<app-loader [showLoader]='loadingService.loading' [progressIndex]='loadingService.progress'></app-loader>
		</form>
	</div>

	<div *ngIf="patient && patient.first_name==='Demo' && patient.last_name==='Paziente' " >

			<output id="list"></output>
			<form  #addcellsForm="ngForm">
				<h1>Add slides of {{ patient.first_name }} {{ patient.last_name }}</h1>
				<div *ngIf="!submitted">
					<label>Try a predef set of cells</label>
					<br>
					<div *ngFor="let list of product; let i = index;">
						<img #file [className]="imagesSelection[i] ? 'selectedImg' : 'imageToSeletContainer'" 
								type="image" [src]='list.url' style="width:200px; margin: 15px; float: left; " 
								(click)="selDeselImg(i)" id="{{i}}" name="{{i}}"  
						/>
					</div>
					<br>
					<li *ngFor="let file of fileListImg">{{ file.name }} {{ file.size }} byte</li>
				</div>
				<div *ngIf="submitted">
					<h2>Caro utente,</h2>
					<p>Consider that this system is very complex from the computational point of view and is 
						currently installed on a free server, so it may appear a little slow. We cannot do 
						more for this preliminary experimentation. For 50 fields it normally takes <b>6-8 minutes</b></p>
					<h3>Thanks for understanding</h3>
				</div>
				<br>

					<button *ngIf="!submitted" (click)="tryCell()" mat-raised-button color="primary">Send</button>

				<app-loader [showLoader]='loadingService.loading' [progressIndex]='loadingService.progress'></app-loader>
			</form>
		</div>

</app-content>