<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


<app-content sidenav="true" [sidenav-items]=sidenavItems>
<div id="patient-card" *ngIf="patient" >
  <form (ngSubmit)="onSubmit()" #newAnamnesisForm="ngForm">
  <mat-horizontal-stepper>
<!-- Anamnesi familiare -->
<mat-step label="Anamnesi familiare">

<div style=" width: 45%; float:left; padding: 2%;">

      <mat-form-field appearance="outline">
          <mat-label>Allergie tra i genitori</mat-label>
          <mat-select [(ngModel)]="anamnesis.allergy_gen" name="allergy-gen" matNativeControl>
              <mat-option>nessuno</mat-option>
              <mat-option *ngFor="let allergy of ALLERG_TYPE" [value]="allergy.key">
                {{allergy.value}}
              </mat-option>
          </mat-select>
      </mat-form-field>
      <br>
      <mat-form-field appearance="outline">
          <mat-label>Allergie tra i fratelli</mat-label>
          <mat-select [(ngModel)]="anamnesis.allergy_fra" name="allergy-fra" matNativeControl>
              <mat-option>nessuno</mat-option>
              <mat-option *ngFor="let allergy of ALLERG_TYPE" [value]="allergy.key">
                {{allergy.value}}
              </mat-option>
          </mat-select>
      </mat-form-field>

</div>

<div style=" width: 45%; float:left; padding: 2%;">
    <div>
    <mat-checkbox [(ngModel)]="anamnesis.polip_nas_gen" labelPosition="after" name="polip-nas-gen" color="primary">
    <p>Uno dei genitori presenta poliposi nasale?</p>
    </mat-checkbox>
    </div>

    <div>
    <mat-checkbox [(ngModel)]="anamnesis.polip_nas_fra" labelPosition="after" name="polip-nas-fra" color="primary">
    <p>Uno dei fratelli presenta poliposi nasale?</p>
    </mat-checkbox>
    </div>

    <div>
    <mat-checkbox [(ngModel)]="anamnesis.asma_bronch_gen" labelPosition="after" name="asma-bronch-gen" color="primary">
    <p>Uno dei genitori presenta asma bronchiale?</p>
    </mat-checkbox>
    </div>

    <div>
    <mat-checkbox [(ngModel)]="anamnesis.asma_bronch_fra" labelPosition="after" name="asma-bronch-fra" color="primary">
    <p>Uno dei fratelli presenta asma bronchiale?</p>
    </mat-checkbox>
    </div>
</div>

<div>
  <mat-form-field style="width: 90%; height: 150px;" appearance="outline">
      <textarea name="appuntiAnamFam" matInput placeholder="Family medical history notes" [(ngModel)]="anamnesis.appunti_anam_fam" style=" height: 100px;"></textarea>
  </mat-form-field>
</div>

</mat-step>


<!-- Sintomatologia -->
<mat-step label="Symptomatology">

<div class="container">
  </div>
  <div class="row">
    <div class="col-sm-4">

        <mat-form-field appearance="outline">
            <mat-label >Ostruzione nasale:</mat-label>
            <mat-select [(ngModel)]="anamnesis.ostr_nas" name="ostr-nas" matNativeControl>
                <mat-option>nessuno</mat-option>
                <mat-option *ngFor="let select of LEFT_RIGHT_TYPE" [value]="select.key">
                  {{select.value}}
                </mat-option>
              </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label >Ipoacusia:</mat-label>
            <mat-select [(ngModel)]="anamnesis.ipoacusia" name="ipoacusia" matNativeControl>
                <mat-option>nessuno</mat-option>
                <mat-option *ngFor="let select of LEFT_RIGHT_TYPE" [value]="select.key">
                  {{select.value}}
                </mat-option>
              </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label >Rinorrea:</mat-label>
            <mat-select [(ngModel)]="anamnesis.rinorrea" name="rinorrea" matNativeControl>
                <mat-option>nessuno</mat-option>
                <mat-option *ngFor="let select of RINORREA_ESSUDATO_TYPE" [value]="select.key">
                  {{select.value}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <div *ngIf="anamnesis.rinorrea">
          <h5>Seleziona lato rinorrea:</h5>
          <mat-radio-group [(ngModel)]="anamnesis.rinorrea_espans" name="rinorrea-espans" aria-label="Seleziona lato">
            <mat-radio-button value="SX" color="primary">Sinistra </mat-radio-button>
            <mat-radio-button value="DX" color="primary">Destra </mat-radio-button>
          </mat-radio-group>
        </div>

    </div>
    <div class="col-sm-4">

        <mat-form-field appearance="outline">
            <mat-label >Starnutazione:</mat-label>
            <mat-select [(ngModel)]="anamnesis.starnutazione" name="starnutazione" matNativeControl>
                <mat-option>nessuno</mat-option>
                <mat-option *ngFor="let select of STARNUTAZIONE_TYPE" [value]="select.key">
                  {{select.value}}
                </mat-option>
              </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label >Problemi olfattivi:</mat-label>
            <mat-select [(ngModel)]="anamnesis.prob_olf" name="prob-olf" matNativeControl>
                <mat-option>nessuno</mat-option>
                <mat-option *ngFor="let select of PROB_OLF_TYPE" [value]="select.key">
                  {{select.value}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label >Ovattamento auricolare:</mat-label>
            <mat-select [(ngModel)]="anamnesis.ovatt_aur" name="ovatt-aur" matNativeControl>
                <mat-option>nessuno</mat-option>
                <mat-option *ngFor="let select of LEFT_RIGHT_TYPE" [value]="select.key">
                  {{select.value}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="col-sm-4">

        <mat-form-field appearance="outline">
            <mat-label >Acufeni:</mat-label>
            <mat-select [(ngModel)]="anamnesis.acufeni" name="acufeni" matNativeControl>
                <mat-option>nessuno</mat-option>
                <mat-option *ngFor="let select of LEFT_RIGHT_TYPE" [value]="select.key">
                  {{select.value}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label >Sindrome vertiginosa:</mat-label>
            <mat-select [(ngModel)]="anamnesis.sindr_ver" name="sindr-ver" matNativeControl>
                <mat-option>nessuno</mat-option>
                <mat-option *ngFor="let select of SINDR_VER_TYPE" [value]="select.key">
                  {{select.value}}
                </mat-option>
            </mat-select>
        </mat-form-field>


            <div>
                  <mat-form-field style="width: 100%; height: 90px;" appearance="outline">
                    <textarea name="appuntimedico" matInput placeholder="Doctor's notes" [(ngModel)]="anamnesis.appunti_sintom" style=" height: 100px;"></textarea>
                </mat-form-field>
            </div>



    </div>
</div>
  <hr><h4>Problemi oculari:</h4>
  <mat-card style="width: auto">
  <div class="container"  style="width: 900px;">
      <div class="row">
          <div class="col-sm-4">
              <mat-checkbox [(ngModel)]="anamnesis.lacrimazione" labelPosition="after" name="lacrimazione" color="primary">
                  Lacrimazione
                  </mat-checkbox><br>
                  <mat-checkbox [(ngModel)]="anamnesis.fotofobia" labelPosition="after" name="fotofobia" color="primary">
                  Fotofobia
              </mat-checkbox><br>
              <mat-checkbox [(ngModel)]="anamnesis.prurito_cong" labelPosition="after" name="prur-cong" color="primary">
                  Prurito congiuntiva
              </mat-checkbox><br>
          </div>
          <div class="col-sm-4">
              <mat-checkbox [(ngModel)]="anamnesis.bruciore_cong" labelPosition="after" name="bruciore-cong" color="primary">
                  Bruciore congiuntiva
                  </mat-checkbox><br>
                  <mat-checkbox [(ngModel)]="anamnesis.prur_nas" labelPosition="after" name="prur-nas" color="primary">
                  Prurito nasale
              </mat-checkbox><br>
          </div>
          <div class="col-sm-4">
              <mat-checkbox [(ngModel)]="anamnesis.uso_farmaci" labelPosition="after" name="uso-farmaci" color="primary">
                  Uso di farmaci
                  </mat-checkbox><br>
                  <mat-checkbox [(ngModel)]="anamnesis.febbre" labelPosition="after" name="febbre" color="primary">
                  Febbre
              </mat-checkbox>
          </div>

      </div>




  </div></mat-card>
  <div>





    </div>
</mat-step>


    <!-- Esame del medico -->
<mat-step label="Esame medico">

      <div style="width: 50%; float: left; padding: 2%;" >
        <mat-expansion-panel>
          <mat-expansion-panel-header>
           <mat-panel-title>
            Esame esterno del naso
           </mat-panel-title>
        </mat-expansion-panel-header>


        <mat-form-field appearance="outline">
          <mat-label>Piramide nasale</mat-label>
          <mat-select [(ngModel)]="anamnesis.pir_nas" name="pir-nas" matNativeControl>
            <mat-option>nessuno</mat-option>
            <mat-option *ngFor="let select of PIR_NAS_TYPE" [value]="select.key">
              {{select.value}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Valvola nasale</mat-label>
          <mat-select [(ngModel)]="anamnesis.valv_nas" name="valv-nas" matNativeControl>
            <mat-option>nessuno</mat-option>
            <mat-option *ngFor="let select of VALV_NAS_TYPE" [value]="select.key">
              {{select.value}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
           <mat-panel-title>
            Endoscopia nasale
           </mat-panel-title>
          </mat-expansion-panel-header>

          <mat-form-field appearance="outline">
            <mat-label>Setto nasale</mat-label>
            <mat-select [(ngModel)]="anamnesis.setto_nas" name="setto-nas" matNativeControl>
              <mat-option>nessuno</mat-option>
              <mat-option *ngFor="let select of SETTO_NAS_TYPE" [value]="select.key">
                {{select.value}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Turbinati</mat-label>
            <mat-select [(ngModel)]="anamnesis.turb" name="turb" matNativeControl>
              <mat-option>nessuno</mat-option>
              <mat-option *ngFor="let select of TURB_TYPE" [value]="select.key">
                {{select.value}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Poliposi nasale sinistra</mat-label>
            <mat-select [(ngModel)]="anamnesis.polip_nas_sx" name="polip-nas-sx" matNativeControl>
              <mat-option>assente</mat-option>
              <mat-option *ngFor="let select of POLIP_NUM_TYPE" [value]="select.key">
                {{select.value}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Poliposi nasale destra</mat-label>
            <mat-select [(ngModel)]="anamnesis.polip_nas_dx" name="polip-nas-dx" matNativeControl>
              <mat-option>assente</mat-option>
              <mat-option *ngFor="let select of POLIP_NUM_TYPE" [value]="select.key">
                {{select.value}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Essudato</mat-label>
            <mat-select [(ngModel)]="anamnesis.essudato" name="essudato" matNativeControl>
              <mat-option>nessuno</mat-option>
              <mat-option *ngFor="let select of RINORREA_ESSUDATO_TYPE" [value]="select.key">
                {{select.value}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
           <mat-panel-title>
            Rinofaringe
           </mat-panel-title>
          </mat-expansion-panel-header>

          <mat-form-field appearance="outline">
            <mat-label>Ipertrofia adenoidea</mat-label>
            <mat-select [(ngModel)]="anamnesis.ipertr_adenoidea" name="ipertr-adenoidea" matNativeControl>
              <mat-option>assente</mat-option>
              <mat-option *ngFor="let select of POLIP_NUM_TYPE" [value]="select.key">
                {{select.value}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field style="width: 100%;" appearance="outline">
              <textarea  name="esamAlt" [(ngModel)]="anamnesis.appunti_alter_rinofaringe" matInput placeholder="Appunti su alterzioni"></textarea>
          </mat-form-field>


        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
           <mat-panel-title>
            Esame delle orecchie
           </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-form-field style="width: 100%;" appearance="outline">
              <textarea name="esamOrec" [(ngModel)]="anamnesis.esame_orecchie" matInput placeholder="Appunti sull'esame delle orecchie"></textarea>
          </mat-form-field>
        </mat-expansion-panel>



      </div>


      <div style="  float: left; padding-left: 2%;" >
        <mat-card >
          <h4>Esame rinomanometrico</h4>
        <table>
          <tr>
            <div> </div>
            <th>Base</th>
            <th>Decong</th>
            <th>Default value</th>
          </tr>
          <tr>
            <td>Base sx</td>
            <td><input type="number" step="{{precisionInput}}" /></td>
            <td><input type="number" step="{{precisionInput}}" /></td>
            <td>&lt;0,50</td>
          </tr>
          <tr>
            <td>Base dx</td>
            <td><input type="number" step="{{precisionInput}}" /></td>
            <td><input type="number" step="{{precisionInput}}" /></td>
            <td>&lt;0,50</td>
          </tr>
          <tr>
            <td>Base sx+dx</td>
            <td><input type="number" step="{{precisionInput}}" /></td>
            <td><input type="number" step="{{precisionInput}}" /></td>
            <td>&lt;0,50</td>
          </tr>
        </table>
        <hr>
        <mat-form-field style="width: 100%; height: 150px;" appearance="outline">
            <textarea name="conclus" matInput placeholder="Conclusioni" [(ngModel)]="anamnesis.conclusioni_esame" style=" height: 100px;"></textarea>
        </mat-form-field>
      </mat-card>
      </div>

</mat-step>




<!-- Prick test -->
<mat-step label="Prick-Test">
      <div>
        <h4>Esito prick test:</h4>
        <mat-radio-group [(ngModel)]="prickTest" name="prick-test" aria-label="prick-test">
          <mat-radio-button [value]="true" color="primary" style="margin-right: 10px">Positivo </mat-radio-button>
          <mat-radio-button [value]="false" color="primary">Negativo </mat-radio-button>
        </mat-radio-group>
      </div>
      <br>
      <mat-checkbox [disabled]="!prickTest" labelPosition="after" name="allergyPeriod" color="primary">
          Allergene perenne
      </mat-checkbox><hr>
      <br>

    <div *ngIf="allergy_list.length > 0" style="width: 35%; float: left;" >
      <mat-checkbox [disabled]="!prickTest" [(ngModel)]="allergy_list[0].value" labelPosition="after" name="allergy0" color="primary">
          {{allergy_list[0].type}}
      </mat-checkbox><br>

      <mat-checkbox [disabled]="!prickTest" [(ngModel)]="allergy_list[1].value" labelPosition="after" name="allergy1" color="primary">
          {{allergy_list[1].type}}
      </mat-checkbox><br>

      <mat-checkbox [disabled]="!prickTest" [(ngModel)]="allergy_list[2].value" labelPosition="after" name="allergy2" color="primary">
          {{allergy_list[2].type}}
      </mat-checkbox><br>

      <mat-checkbox [disabled]="!prickTest" [(ngModel)]="allergy_list[3].value" labelPosition="after" name="allergy3" color="primary">
          {{allergy_list[3].type}}
      </mat-checkbox><br>

      <mat-checkbox [disabled]="!prickTest" [(ngModel)]="allergy_list[4].value" labelPosition="after" name="allergy4" color="primary">
          {{allergy_list[4].type}}
      </mat-checkbox><br>

      <mat-checkbox [disabled]="!prickTest" [(ngModel)]="allergy_list[5].value" labelPosition="after" name="allergy5" color="primary">
          {{allergy_list[5].type}}
      </mat-checkbox><br>

      <mat-checkbox [disabled]="!prickTest" [(ngModel)]="allergy_list[6].value" labelPosition="after" name="allergy6" color="primary">
          {{allergy_list[6].type}}
      </mat-checkbox><br>

      <mat-checkbox [disabled]="!prickTest" [(ngModel)]="allergy_list[7].value" labelPosition="after" name="allergy7" color="primary">
          {{allergy_list[7].type}}
      </mat-checkbox><br>

      <mat-checkbox [disabled]="!prickTest" [(ngModel)]="allergy_list[8].value" labelPosition="after" name="allergy8" color="primary">
          {{allergy_list[8].type}}
      </mat-checkbox><br>
    </div>

    <!-- Right column -->
    <div *ngIf="allergy_list.length > 0" style="width: 35%; float: right;" >
      <mat-checkbox [disabled]="!prickTest" [(ngModel)]="allergy_list[9].value" labelPosition="after" name="allergy9" color="primary">
          {{allergy_list[9].type}}
      </mat-checkbox><br>

      <mat-checkbox [disabled]="!prickTest" [(ngModel)]="allergy_list[10].value" labelPosition="after" name="allergy10" color="primary">
          {{allergy_list[10].type}}
      </mat-checkbox><br>

      <mat-checkbox [disabled]="!prickTest" [(ngModel)]="allergy_list[11].value" labelPosition="after" name="allergy11" color="primary">
          {{allergy_list[11].type}}
      </mat-checkbox><br>

      <mat-checkbox [disabled]="!prickTest" [(ngModel)]="allergy_list[12].value" labelPosition="after" name="allergy12" color="primary">
          {{allergy_list[12].type}}
      </mat-checkbox><br>

      <mat-checkbox [disabled]="!prickTest" [(ngModel)]="allergy_list[13].value" labelPosition="after" name="allergy13" color="primary">
          {{allergy_list[13].type}}
      </mat-checkbox><br>

      <mat-checkbox [disabled]="!prickTest" [(ngModel)]="allergy_list[14].value" labelPosition="after" name="allergy14" color="primary">
          {{allergy_list[14].type}}
      </mat-checkbox><br>

      <mat-checkbox [disabled]="!prickTest" [(ngModel)]="allergy_list[15].value" labelPosition="after" name="allergy15" color="primary">
          {{allergy_list[15].type}}
      </mat-checkbox><br>

      <mat-checkbox [disabled]="!prickTest" [(ngModel)]="allergy_list[16].value" labelPosition="after" name="allergy16" color="primary">
          {{allergy_list[16].type}}
      </mat-checkbox><br>

      <mat-checkbox [disabled]="!prickTest" [(ngModel)]="allergy_list[17].value" labelPosition="after" name="allergy17" color="primary">
          {{allergy_list[17].type}}
      </mat-checkbox><br>
    </div>
    </mat-step>
  </mat-horizontal-stepper>

  <button mat-raised-button id="submit-newanamnesis" style="position: fixed; bottom: 5%; right: 5%; color: blue; " type="submit">Create</button>
  </form>

</div>
</app-content>
